.cart-page{
    padding: 50px 0;
}
.cart-page h1{
  color: #27aae2;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
.cart-items {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.cart-item-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.cart-item-header span {
    border-bottom: 2px solid #27aae2;
    padding-bottom: 10px;
    text-align: center;
}
.cart-item {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
.cart-item img {
    width: 70px;
    height: 70px;
}

.cart-item .item-title {
    text-align: center;
}
 .cart-item .item-image-container {
        display: flex;
        flex-direction: column;
         align-items: center;
    }
.cart-item .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cart-item .quantity-control button{
    background-color: #e0f7fa;
    color: #333;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
.cart-item .quantity-control span{
    padding: 0 10px;
    text-align: center;
}
.cart-item span:last-child {
     text-align: center;
}
.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-top: 2px solid #27aae2;
     padding-top: 10px;
}
.cart-buttons{
    display: flex;
    justify-content: space-between;
}

.back-button{
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
      display: inline-block;
    font-weight: bold;
    font-size: 15px;
}
.back-button:hover{
  background-color: #333333;
}

.make-order{
    background-color: #27aae2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
     transition: background-color 0.3s;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}
.make-order:hover {
    background-color: #00838f;
}