.login-page{
    padding: 80px 0;
    text-align: center;
}
.login-page h1 {
    color: #27aae2;
    margin-bottom: 30px;
    font-size: 30px;
}
.auth-card {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.auth-form {
    display: flex;
    flex-direction: column;
}
.auth-form label {
    text-align: left;
    margin-bottom: 5px;
     font-weight: bold;
}
.auth-form input {
   padding: 12px;
    margin-bottom: 15px;
     border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.auth-form input:focus {
    outline: none;
    box-shadow: 0 0 3px #27aae2;
}
.auth-form button {
    background-color: #27aae2;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
     transition: background-color 0.3s;
}
.auth-form button:hover {
    background-color: #00838f;
}
.login-error {
    color: red;
    margin-bottom: 10px;
    text-align: left;
}
.register-button{
  color: #27aae2;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid #27aae2;
     padding: 8px 16px;
     border-radius: 5px;
     transition: color 0.3s;
    transition: background-color 0.3s;
}
.register-button:hover {
    color: #fff;
    background-color: #27aae2;
}