body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #e0f7fa;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo {
    display: flex;
    align-items: center;
}

header .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header .header-logo span {
    font-size: 20px;
    font-weight: bold;
    color: #27aae2;
}

header nav a {
    color: #27aae2;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s;
}
header nav a:hover {
    color: #27aae2;
}

header .header-icons {
    display: flex;
    align-items: center;
}

header .header-icons a {
    margin-left: 15px;
}
header .header-icons img {
    width: 20px;
    height: 20px;
}
header .search-container {
    display: flex;
    align-items: center;
      margin-left: 20px;
}
header .search-container form {
  display: flex;
    align-items: center;
}
header .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
     margin-right: 5px;
}
header .search-button {
    background-color: #27aae2;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
header .search-button:hover {
    background-color: #00838f;
}
header .header-icons .cart-icon {
  position: relative;
}
header .header-icons .cart-icon span{
    background-color: #27aae2;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -7px;
    left: -5px
}
header .header-icons .login-button {
    background-color: #27aae2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.hero {
    background-color: #27aae2;
    padding: 100px 0;
    text-align: center;
    color: white;
}
.hero .hero-content{
    width: 80%;
}
.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}
.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}
.hero .button {
    display: inline-block;
    background-color: white;
    color: #27aae2;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
     font-weight: bold;
    font-size: 16px
}

.hero .button:hover {
    background-color: #e0e0e0;
}

.popular-games {
    padding: 50px 0;
    text-align: center;
}
.popular-games h2{
    color: #27aae2;
    margin-bottom: 30px;
    font-size: 30px
}
.game-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.game-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    width: calc(33% - 20px);
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.game-card .game-image{
    background-color: #f2f2f2;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.game-card .game-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.game-card h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #27aae2;
}

.game-card p.price {
    font-size: 16px;
    margin-bottom: 15px;
    color: #27aae2;
}
.button-details {
  background-color: #27aae2;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
}
.button-details:hover {
    background-color: #2797e2;
}

footer {
    background-color: #333333;
    color: white;
    padding: 40px 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

footer .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
footer .footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

footer .footer-logo span {
    font-size: 20px;
    font-weight: bold;
}
footer .footer-links{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-links h3{
    margin-bottom: 10px;
}
footer .footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s;
}
footer .footer-links a:hover {
    color: #e0f7fa;
}

footer .footer-contact {
   display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-contact a {
    color: white;
    text-decoration: none;
    transition: none;
}
footer .footer-contact a:hover {
   color: white;
   text-decoration: none;
}
footer .footer-contact p{
    margin-bottom: 5px;
}
footer .footer-copyright {
    border-top: 1px solid #758e9b;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
}
@media (max-width: 768px) {
  .game-card{
    width: calc(50% - 20px);
    }
   .product-list{
     width: 100%;
   }
   .filter{
     width: 100%;
       margin-right: 0;
     margin-bottom: 20px;
   }
   .catalog .container{
       flex-direction: column;
   }
  .game-card .game-image{
     height: 150px;
   }
}